body {
  margin: 0;
  padding: 0;
  background: #4267b2;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 50px rgba(0, 0, 0, .5);
}

.box img {
  width: 200px;
}

.box::before {
  content: '';
  position: absolute;
  top: 0;
  left: -150px;
  width: 100px;
  height: 200px;
  background: rgb(246, 247, 249, 0.3);
  transform: skewX(-30deg);
  transition: .5s;
}

.box:hover::before {
  left: 250px;
}